{% extends 'base/base.html' %}
{% load static %}
{% block content %}


<div class=" container d-flex align-items-center justify-content-center vh-100">



<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₹0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited Add Expenses</li>
          <li>Monthly Budget</li>
          <li>No Schedule Expense</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal" id="plan2_name"></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title" id="paln2_price"></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited Add Expense</li>
          <li>Monthly Budget</li>
          <li>10 Schedule Expense</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" id="btn_Plan2">Subscribe</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow" id="plan3" style="display:none;">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal" id="plan3_name"></h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title" id="plan3_price"></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited Add Expense</li>
          <li>Monthly Budget</li>
          <li>Unlimited Schedule Expense</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" id="btn_Plan3">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<script src= "{% static 'js/plan.js' %}"> </script>
  {% endblock %}